.b{
    /* border: 2px solid red; */
    height: 330px;
    width: 100%;
    background-color: rgba(28, 28, 39, 0.978);
    /* background-attachment: fixed; */
}
.b1{
    height: 176px;
    width: 10.5%;
    position: relative;
    left: 185px;
    top: 70px;
    aspect-ratio: 10.5 / 1;
    filter: drop-shadow(18px 18px 18px 12px #000000);
    box-shadow: 10px 6px 23px 2px rgb(0, 0, 0);
    border-radius: 5px;
    animation: about 5s ease 1;
    
}
@keyframes about {
    from{
        left: 0px;
        opacity: 0.2;

    }
    to{
        left: 185px;
        opacity: 1;

    }
    
}
.b2{
    color:rgb(212, 80, 80);
    position:absolute;
    top:488px;
    left:358px;
    font-weight:600;

}
.b3{
    position:absolute;
    top:506px;
    left:356px;
    color: white;
    font-weight: 500;

}
.b4{
    width: 3.4%;
    background-color:rgb(212, 80, 80) ;
    height: 2px;
    position:absolute;
    top:545px;
    left:356px;
    /* border: 2px solid rgb(212, 80, 80) ; */
    border-radius: 2px;

}
.b5{
    /* border: 2px solid red; */
    width: 70%;
    position:absolute;
    top:560px;
    left:356px;
    color: rgb(159, 151, 151);
    float: left;
    font-size: smaller;
    font-weight: 500;

}
.b5::first-letter{
    color: rgb(7, 168, 7);
    /* height: 10px; */
    font-size: 17px;
    font-weight: 500;
}
.b6{
    position:absolute;
    top:670px;
    left:359px;
    background-color:rgb(255, 54, 54) ;
    border: 2px solid rgb(212, 80, 80);
    border-radius: 5px;
    width: 9%;
    height: 30px;
    color: rgb(215, 215, 215);
    text-align: center;
    padding: 3px;
    font-style: oblique;

}
.b6>p{
    position: relative;
    top: -4px;
    left: -2px;
    font-weight: 600;
}
@media screen and (min-width:375px) and (max-width:426px){
    .b1{
        width: 33%;
        left: 140px;
        top: 50px;
    }
    .b2{
        left: 178px;
        top: 700px;
        width: 30%;

    }
    .b3{
        left: 160px;
        top: 730px;

    }
    .b4{
        left: 160px;
        top: 764px;
        width: 8%;

    }
    .b5{
        left: 30px;
        top: 770px;
        width: 90%;

    }
    .b6{
        left: 140px;
        top: 1030px;
        width: 30%;

    }
    .b{
        height: 700px;
    }

}
@media screen and (min-width:601px) and (max-width:800px){
    .b1{
        width: 20%;
        left: 100px;
    }
    .b5{
        width: 60%;
        left: 300px;
    }
    .b2{
        width: 30%;
    }
    .b{
        height: 400px;
    }
    .b6{
        width: 27%;
        top: 770px;
    }

}

@media screen and (min-width:803px) and (max-width:1025px){
    .b1{
        left: 90px;
        width: 13%;
    }
    .b2{
        left: 320px;

    }
    .b3{
        left: 320px;

    }
    .b4{
        left: 320px;
    }
    .b5{
        left: 320px;
        width: 68%;
    }
    .b6{
        width: 17%;
        top: 44em;
    }
}
@media screen and (min-width:1300px) and (max-width:1441px){
    
    .b1{
        height: 200px;
    }
    .b6{
        left: 460px;
    }
    .b2{
        left: 466px;
    }
    .b3{
        left: 460px;
    }
    .b4{
        left: 460px;
    }
    .b5{
        left: 460px;
        width: 65%;
    }
    

}
@media screen and (min-width:1502px){

    .b1{
        height: 200px;
    }
    .b6{
        left: 460px;
    }
    .b2{
        left: 466px;
    }
    .b3{
        left: 460px;
    }
    .b4{
        left: 460px;
    }
    .b5{
        left: 460px;
    }
    
}