.c{
    /* border: 2px solid red; */
    height: 300px;
    width: 100%;
}
.c1{
    color: rgb(222, 60, 60);
    position: absolute;
    top: 795px;
    left: 150px;
}
.c2{
    position: absolute;
    top: 813px;
    left: 150px;
    color: white;
}
.c3{
    width: 3%;
    background-color: rgb(222, 60, 60);
    height: 2px ;
    position: absolute;
    top: 847px;
    left: 150px;
}
.c4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px solid red; */
    height: 180px;
    position: absolute;
    top: 870px;
    left: 100px;
    width: 80%;
}
.c5{
    border: 0.2px solid rgb(222, 60, 60);
    height: 170px;
    width: 70%;
}
.c6{
    /* height: 170px; */
    color: rgb(222, 60, 60);
    position: absolute;
    left: 30px;
    top: 20px;
}
.c7{
    color: white;
    font-size: small;
    width: 50%;
    position: relative;
    top: 60px;
    left: 32px;
    opacity: 0.8;
}
.c8{
    font-size: 10px;
    position: relative;
    top: 57px;
    left:32px ;
    width: 80%;
    color: rgb(160, 154, 154);
}
.c9{
    color: rgb(222, 60, 60);
    position: absolute;
    left: 370px;
    top: 20px;
}
.c10{
    color: rgb(222, 60, 60);
    position: absolute;
    left: 706px;
    top: 20px;

}


@media screen and (min-width:375px) and (max-width:426px){
    .c1{
        width: 30%;
        top: 88em;
        left: 170px;
    }
    .c2{
        top: 54em;
    }
    .c3{
        top: 75.5em;
        width: 8%;

    }
    .c4{
        top:80em;
        left: 20px;
    }
    .c5{
        width: 103%;
    }
    .c4{
        grid-template-columns: 1fr 1fr ;
    }
    .wow{
        position: relative;
        left: 94px;
        top: 50px;
    }
    .wow1{
        position: relative;
        left: 27px;
    }
    .c10{
        left: 30px;
    }
    .c9{
        left: 30px;
    }
    .c6{
        left: 30px;
        top: 15px;
    }
    .c7{
        width: 80%;
        
    }
    .qq{
        position: relative;
        top: 49px;
    }
    .qq1{
        position: relative;
        top: 49px;
    }
}
@media screen and (min-width:601px) and (max-width:800px){
    .c1{
        top: 66em;
        width: 30%;
    }
    .c2{
        top: 38.8em;
        /* width: 30%; */

    }
    .c3{
        top: 57.4em;
        width: 8%;


    }
    .c4{
        top: 60em;
    }
    .c5{
        width: 100%;
    }
    .c9{
        left: 240px;
    }
    .c10{
        left: 440px;
    }
}
@media screen and (min-width:803px) and (max-width:1025px){
    .c5{
        width: 90%;
    }
    .c9{
        left: 19em;
    }
    .c10{
        left: 36em;
    }
}
@media screen and (min-width:1300px) and (max-width:1441px){
    .c1{
        width: 30%;
}
.c9{
    left: 416px;

}
.c10{
    left: 800px;
}
}
@media screen and (min-width:1500px){
    .c1{
        width: 30%;
    }
    .c9{
        left: 459px;
    
    }
    .c10{
        left: 879px;
    }
    
}